#offer-hero {
  margin-top: 90px;
  width: 100%;
  height: 100%;
  background-color: var(--dark, #2e2f42);
  background-image: url(../images/about.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 122px;
  padding-bottom: 85px;
  margin-left: auto;
  margin-right: auto;
}
#offer-mission {
  background-color: var(--white);
  padding-top: 60px;
  padding-bottom: 60px;
}
#offer-values {
  background-color: var(--light);
  padding-top: 60px;
  padding-bottom: 60px;
}
.offer-values-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.offer-values-content div {
  padding-right: 15px;
  width: 55%;
}
.offer-values-content p {
  text-align: justify;
}
.offer-values-content img {
  width: 45%;
  height: 45%;
}
#offer-values ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 30px;
}

.offer-values1,
.offer-values2 {
  background-color: var(--white);
  max-width: 330px;
  border-radius: 10px;
  box-shadow: 2px 4px 8px var(--dark);
  transition: transform 0.3s ease-in-out;
}
.offer-values2 {
  border: solid 2px var(--green);
}
.offer-values1 {
  border: solid 2px var(--light-blue);
}
#offer-values li:hover,
#offer-values li:focus {
  transform: translateY(-10px);
}
#offer-values h4 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  text-align: center;
  color: var(--white);
}
.offer-values2 h4 {
  border: solid 2px var(--green);
  background-color: var(--green);
}
.offer-values1 h4 {
  border: solid 2px var(--light-blue);
  background-color: var(--light-blue);
}
#offer-values p {
  padding: 0 20px 20px 20px;
}

#offer-trust {
  background-color: var(--light);
  padding-top: 60px;
  padding-bottom: 60px;
}
#offer-trust h4 {
  margin-top: 20px;
  text-align: center;
}
