#offer-hero {
  width: 100%;
  height: 100%;
  background-color: var(--dark, #2e2f42);
  background-image: url(../images/about.webp);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 85px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  #offer-hero {
    padding-top: 120px;
  }
}

@media screen and (min-width: 768px) {
  #offer-hero {
    padding-top: 110px;
  }
}

#offer-mission {
  background-color: var(--white);
  padding-top: 60px;
  padding-bottom: 60px;
}
#offer-values {
  background-color: var(--light);
  padding-top: 45px;
  padding-bottom: 45px;
}
@media screen and (min-width: 1200px) {
  #offer-values {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  #offer-values {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
/* 
.offer-values-content {
  gap: 20px;
  justify-content: center;
  place-items: center;
  display: grid;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(
      to bottom,

      var(--grey, rgba(249, 247, 248, 0.7)),
      var(--grey, rgba(249, 247, 248, 0.7))
    ),
    url(../images/image-about2.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
} */

.offer-values-content {
  align-items: flex-start;
  background-color: var(--light);
  background-image: none;
  background-position: center;
}

@media screen and (min-width: 1200px) {
  .offer-values-content {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
  }
}
.text-content {
  max-width: 100%;
  align-items: start;

  padding-right: 15px;
  width: 100%;
  transform: translateX(-100px);
  transition-delay: 0.6s;
}
.image-content {
  display: none;
}
@media screen and (min-width: 1200px) {
  .image-content {
    display: flex;
    width: 100%;
    border-radius: 10px;
    box-shadow: 18px 18px 1px var(--dark);
    transform: translateX(100px);
    transition-delay: 0.6s;
  }
}
.offer-values-content p {
  text-align: justify;
}

.text-content,
.image-content {
  opacity: 0;

  transition:
    opacity 0.95s ease-in-out,
    transform 0.95s ease-in-out;
}

.text-content.visible {
  opacity: 1;
  transform: translateX(0);
}

.image-content.visible {
  opacity: 1;
  transform: translateX(0);
}

/*  *************************************/
#offer-values ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 30px;
}

.offer-values1,
.offer-values2 {
  background-color: var(--white);
  max-width: 328px;
  border-radius: 10px;
  box-shadow: 2px 4px 8px var(--dark);
  transition: transform 0.3s ease-in-out;
}

#offer-values li:hover,
#offer-values li:focus {
  transform: translateY(-10px);
}
#offer-values h4 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  text-align: center;
  color: var(--white);
}
.offer-values2 h4 {
  border: solid 2px var(--green);
  background-color: var(--green);
}
.offer-values1 h4 {
  border: solid 2px var(--blue);
  background-color: var(--blue);
}
#offer-values p {
  padding: 0 20px 20px 20px;
}

#offer-trust {
  background-color: var(--light);
  padding-top: 60px;
  padding-bottom: 60px;
}
#offer-trust h4 {
  margin-top: 20px;
  text-align: center;
}
