#contact-item {
  background-image: url(../images/contact.jpeg);
}
#contact-item .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

#contact-item p {
  color: var(--light);
}
#contact-item h2 {
  text-align: start;
  font-size: 26px;
  line-height: 40px;
  color: var(--green);
}
#contact-item h4 {
  color: var(--light);
  font-weight: normal;
  line-height: 40px;
}

.contact-content ul {
  display: inline-flex;
  gap: 50px;
}
.contact-content ul svg {
  fill: var(--green);
}

#contact-item .contact form {
  max-width: 100%;
}
#contact-item .contact-content-item {
  padding: 0;
  width: 100%;
}
