#contact-item {
  margin-top: 100px;

  background-image: url(../images/contact.png);
}
#contact-item .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
#contact-item p {
  color: var(--light);
}
#contact-item h2 {
  text-align: start;
  font-size: 26px;
  line-height: 40px;
  color: var(--green);
}
#contact-item h4 {
  color: var(--light);
  font-weight: normal;
  line-height: 40px;
}
.contact-content {
  max-width: 50%;
}
.contact-content ul {
  display: inline-flex;
  gap: 50px;
}
.contact-content ul svg {
  fill: var(--green);
}
#contact-item .contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}
#contact-item .contact form {
  max-width: 450px;
}
#contact-item .contact-content-item {
  padding: 0;
  width: 550px;
}
