#offer {
  padding-top: 120px;
}
#offer-www {
  background-color: var(--light);
  padding-top: 60px;
  padding-bottom: 60px;
}
.offer-www-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.www-container h3 {
  line-height: 20px;
  color: var(--dark);
}
.www-container ul {
  color: var(--dark);
  line-height: 25px;

  padding: 0;
}
.www-container p {
  text-align: justify;
  color: var(--white);
}
.www-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 4px 8px var(--dark);
}

.one {
  background-color: var(--white);
  padding: 25px;
  transition: transform 0.3s ease-in-out;
  position: relative;
  height: 100%;
}

.one ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-top: 10px;
}
.one h2 {
  margin: 22px;
}
.two {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 25px;
  transition: bottom 0.3s ease-in-out;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.two h2 {
  margin-top: -70px;
  color: var(--white);
}
.www-container:hover .one {
  transform: translateY(-100%);
}

.www-container:hover .two {
  bottom: 0;
}
.two .myBtn {
  padding: 10px 30px;

  margin-top: 40px;
  background: transparent;
  box-shadow: 0px 5px 0px 0px var(--light-grey);
  border: solid 0.5px var(--light);
  transition: transform 0.3s ease-in-out;
}
.two .myBtn:hover,
.two .myBtn:focus {
  background-color: transparent;
  transform: translateY(8px);
}

.offer-shop-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
#offer-shop {
  padding-top: 60px;
  padding-bottom: 60px;
}
.shop-container {
  background-color: var(--light);
  justify-content: center;
  max-width: 48%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 4px 8px var(--dark);
}

.shop-one {
  padding: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.shop-one li {
  list-style-type: disc;
  margin-left: 20px;
  margin-top: 10px;
}
.shop-one h2 {
  margin: 22px;
}
.shop-one button {
  margin: 22px;
  justify-content: center;
}
.shop-container h3 {
  line-height: 20px;
  color: var(--dark);
}
.shop-container ul {
  color: var(--dark);
  line-height: 25px;

  padding: 0;
}
#offer-support {
  background-color: var(--light);
  padding-top: 60px;
  padding-bottom: 60px;
}
