:root {
  --dark: #000f27;
  --blue: #385f86;
  --lightest-blue: #20a0c7;
  --light-blue: #2887a5;
  --dark-blue: #162d5b;
  --light-green: #77c146;
  --green: #5fa134;
  --dark-green: #3a6120;
  --light-grey: #d9d9d9bd;
  --light: #f4f4f4;
  --white: #fff;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 428px;
  margin: 0 auto;
  padding: 0 15px;
  /* overflow: hidden; */
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 20px;
  }
}
h1 {
  color: var(--white);
  font-weight: 600;
  font-size: 48px;
  letter-spacing: 2px;
  margin-top: 0;
  text-align: center;
}
h2 {
  color: var(--blue);
  font-weight: 600;
  font-size: 32px;
  margin-top: 0;
  text-align: center;
  padding-bottom: 20px;
}
h3 {
  color: var(--white);
  font-weight: 400;
  font-size: 20px;
  margin-top: 0;
  line-height: 35px;
}
h4 {
  color: var(--dark);
  font-weight: 600;
  font-size: 18px;
  margin-top: 0;
}
p {
  color: var(--dark);
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  padding-top: 50px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.cta {
  color: var(--white);
}
.cta:hover,
.cta:focus {
  text-decoration: underline;
}
.myBtn {
  border-radius: 10px;
  border: none;
  text-decoration: none;
  padding: 10px 30px;
  color: white;
  background-color: var(--green);
  box-shadow: 0px 5px 0px 0px var(--dark-green);
  transition: transform 0.3s ease-in-out;
}

.myBtn:hover {
  transform: translateY(4px);

  color: white;
  background-color: var(--light-green);
}

.myBtn:active {
  color: white;
  transform: translate(0px, 5px);
}

.myBtn:visited {
  color: #fafafa;
}
.dark {
  background-color: var(--dark);
}
.blue {
  background-color: var(--blue);
}
.light-blue {
  background-color: var(--light-blue);
}
.green {
  background-color: var(--green);
}

/*--------------------------------------------------------------
          scroll button
  --------------------------------------------------------------*/
#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 10px;
  background-color: var(--dark-blue);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 2px 4px 8px var(--dark);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s,
    visibility 0.3s;
}

#scrollToTop svg {
  position: fixed;
  bottom: 30px;
  right: 20px;
  fill: var(--white);
  width: 38px;
  height: 30px;
}

#scrollToTop.show {
  opacity: 1;
  visibility: visible;
}
/*------------------------------------------------------------------
          HEADER
  ---------------------------------------------------------------*/
.green-header {
  display: none;
}
@media screen and (min-width: 1200px) {
  .green-header {
    align-items: center;
    justify-content: right;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .green-header {
    align-items: center;
    justify-content: right;
    display: flex;
  }
}
.green-header a {
  color: var(--white);
}
.green-header a:hover,
.green-header a:focus {
  text-decoration: underline;
}
.green-header svg {
  fill: var(--white);
  color: var(--white);
  width: 24px;
  height: 24px;
  margin-left: 14px;
  margin-right: 14px;
}
header {
  border-bottom: 0.5px solid var(--light-grey);
  width: 100%;
  background-color: var(--white);
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
}

.header-content {
  padding-top: 8px;
  /* padding-bottom: 8px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

nav a {
  padding: 10px 5px;
  background-color: transparent;
  color: var(--dark);
}
@media screen and (min-width: 1200px) {
  nav a {
    padding: 10px 15px;
  }
}
.is-active {
  color: var(--green);
  text-decoration: underline;
}
nav a:hover {
  color: var(--light-blue);
  text-decoration: underline;
}
/*--------------------------------------------------------------------
          HERO
  ----------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100%;
  background-color: var(--dark, #2e2f42);
  background-image: url(../images/hero.webp);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 85px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  #hero {
    padding-top: 120px;
  }
}

.hero-tekst {
  margin-bottom: 48px;
}
#hero h2 {
  color: var(--light);
  font-weight: 400;
  font-size: 20px;
  margin-top: 0;
  line-height: 35px;
}
/*-------------------------------------------------------------------
          BENEFITS
  -----------------------------------------------------------------*/
#benefits {
  background-color: var(--light);
  padding-top: 45px;
  padding-bottom: 45px;
}
@media screen and (min-width: 1200px) {
  #benefits {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  #benefits {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.benefits-box {
  flex-wrap: wrap;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 15px;
}
@media screen and (min-width: 1200px) {
  .benefits-box {
    gap: 40px;
    padding-top: 25px;
    padding-bottom: 55px;
  }
}

.benefits-box p,
.benefits-box h4 {
  text-align: center;
  color: var(--white);
  line-height: 25px;
}

.benefits-box h4 {
  text-transform: uppercase;
}

.benefits-box0,
.benefits-box1,
.benefits-box2,
.benefits-box3 {
  width: 250px;
  height: 350px;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 2px 4px 8px var(--dark);
  opacity: 0;
  transform: translateX(-50px);
  transition:
    opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}
@media screen and (max-width: 630px) {
  .benefits-box0,
  .benefits-box1,
  .benefits-box2,
  .benefits-box3 {
    width: 290px;
  }
}
/* Tło dla każdego kafelka */
.benefits-box0 {
  background-color: var(--dark-blue);
  transition-delay: 0s;
}

.benefits-box1 {
  background-color: var(--blue);
  transition-delay: 0.3s;
}

.benefits-box2 {
  background-color: var(--light-blue);
  transition-delay: 0.6s;
}

.benefits-box3 {
  background-color: var(--green);
  transition-delay: 0.9s;
}

/* Klasa do uruchamiania animacji */
.benefits-box0.show,
.benefits-box1.show,
.benefits-box2.show,
.benefits-box3.show {
  opacity: 1;
  transform: translateX(0);
}
/*-------------------------------------------------------------------
          services
  ------------------------------------------------------------------*/
#services {
  background-color: var(--white);
  padding-top: 45px;
  padding-bottom: 45px;
}
@media screen and (min-width: 1200px) {
  #services {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  #services {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.services-box {
  flex-wrap: wrap;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 10px;
  padding-bottom: 15px;
}
@media screen and (min-width: 1200px) {
  .benefits-box {
    padding-top: 50px;
    padding-bottom: 55px;
  }
}
.services-box p,
.services-box h4 {
  text-align: center;
  line-height: 25px;
}

.services-box1,
.services-box2 {
  position: relative;
  width: 300px; /* Możesz dostosować szerokość */
  height: 350px;
  background-color: var(--light);
  border-radius: 10px;
  text-align: center;
  perspective: 1000px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  overflow: visible; /* Zapewnia widoczność elementów wychodzących poza box */
  z-index: 0;
}
.services-box1,
.services-box2 {
  box-shadow: 2px 4px 8px var(--dark);
}
.services-box1:hover,
.services-box2:hover {
  transform: rotateY(-180deg);
}
.services-box1 img,
.services-box2 img {
  border-radius: 10px;
  box-shadow: 1px 1px 8px var(--dark);
}

.circle1,
.circle2 {
  position: absolute;
  top: -25px; /* Pozycja powyżej górnej krawędzi */
  left: 50%;
  transform: translateX(-50%);
  width: 80px; /* Średnica kółka, połowa szerokości boksa */
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 8px var(--dark);
  z-index: 1; /* Ustawia kółko na wierzchu */
}
.circle1,
.circle2 {
  background-color: var(--blue);
}

.circle1 svg,
.circle2 svg {
  fill: var(--white);
}
.front,
.back1,
.back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.front {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 90px 20px;
  background-color: var(--light);
}

.back1,
.back2 {
  padding: 20px;
  background-color: var(--light);
  color: white;
  transform: rotateY(180deg);
}

.back1 p,
.back2 p {
  padding-bottom: 26px;
}
.services-btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/*-----------------------------------------------------------------
          realizations
  -----------------------------------------------------------------*/
#realizations {
  background-color: var(--light);
  padding-top: 45px;
  padding-bottom: 45px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  #benefits {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  #benefits {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.carousel {
  position: relative;
  max-width: 800px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.carousel-slide {
  min-width: 100%;
}
.carousel-slide img {
  width: 100%;
  display: block;
}
.carousel-arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.arrow {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 30px;
  padding: 10px;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 50px;
}
.dot.active {
  background-color: var(--dark);
}
/*----------------------------------------------------------------
          KONTAKT
  ---------------------------------------------------------------*/
#contact {
  background-color: var(--blue);
  padding-top: 45px;
  padding-bottom: 45px;
}
@media screen and (min-width: 1200px) {
  #contact {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  #contact {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.contact {
  gap: 20px;
  justify-content: center;
  place-items: center;
  display: grid;
}
@media screen and (min-width: 768px) {
  .contact {
    align-items: flex-start;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    align-items: flex-start;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
  }
}
.contact-content {
  max-width: 100%;
  padding: 0;
  margin: 0;
  align-items: start;
  width: 100%;
}
.contact-content ul {
  display: block;
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .contact-content ul {
    gap: 40px;
  }
}
.contact-content li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.contact-content svg {
  fill: var(--white);
}
#contact h2 {
  margin-top: 20px;
}
#contact h2,
#contact p {
  color: var(--white);
  text-align: start;
  line-height: 45px;
}
.contact-content-item {
  padding: 0;
  width: 100%;
}
.contact form {
  max-width: 100%;
}
#name::placeholder,
#email::placeholder,
#phone::placeholder,
#subject::placeholder,
#message::placeholder,
#choice {
  color: var(--blue);
  font-size: 14px;
}
.contact input,
.contact textarea,
.contact select {
  color: var(--dark);
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--light);
  border-radius: 10px;
}
.privacy {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.privacy input[type="checkbox"] {
  margin: 0;
  margin-right: 15px;
  width: auto;
  height: auto;
}

.privacy p,
.privacy a {
  font-size: 14px;

  color: var(--white);
  margin: 0;
  line-height: 1.5;
}

.privacy a {
  color: var(--light-green);
}

.privacy a:hover {
  text-decoration: underline;
}
/*-----------------------------------------------------------------
          FOOTER
  -------------------------------------------------------------------*/
footer {
  background-color: var(--white);
}
.footer-content {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content-item {
  display: flex;
  align-items: center;

  gap: 15px;
}
footer svg {
  fill: var(--green);
}
footer svg :focus,
footer svg :hover {
  fill: var(--blue);
}

.footer {
  background-color: var(--green);
  text-align: center;
}
.footer p {
  color: var(--white);
  font-size: 14px;
}
.blue-button {
  background-color: var(--light-blue);
  box-shadow: 0px 5px 0px 0px var(--dark-blue);
}
.blue-button:hover,
.blue-button:focus {
  background-color: var(--lightest-blue);
}
.services-btn {
  gap: 50px;
  margin-top: 40px;
}
/*----------------------------------------------------------------
          MOBILE MENU
  --------------------------------------------------------------------*/
.menu-toggle {
  display: flex;
  margin-right: 8px;
  background: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.hamburger-icon {
  max-width: 40px;
  max-height: 40px;
  fill: var(--dark);
  color: var(--dark);

  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger-icon:hover,
.hamburger-icon:focus {
  fill: var(--green);

  color: var(--green);
}
.menu-toggle svg {
  color: var(--dark);
}
.menu-toggle svg:hover,
.menu-toggle svg:focus {
  color: var(--light);
}
.menu-container {
  position: fixed;
  right: 6px;
  top: 8px;
  width: 90vw;
  height: 80vh;
  padding-left: 20px;
  /* border: 1px solid var(--dark); */
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: -2px 4px 8px var(--dark);

  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  visibility: hidden;
}

.menu-container.is-open {
  transform: translateX(0);
  visibility: visible;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 30px;
  height: 30px;
  background-color: var(--light-grey);
  color: var(--green);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.menu-container .menu-toggle:hover,
.menu-container .menu-toggle:focus {
  background-color: var(--dark-green);
  fill: var(--light-grey);
}
.mobile-menu {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-menu a {
  font-size: 24px;
  color: var(--dark);
}

.contact-mobile-icon svg {
  width: 30px;
  height: 30px;
  fill: var(--green);
}
.contact-mobile-icon svg:focus,
.contact-mobile-icon svg:hover {
  fill: var(--dark);
}
.contact-item-mobile {
  justify-content: flex-start;
  padding-left: 0;
  padding-top: 20px;
  margin: 0;
}
.contact-item-mobile p {
  display: flex;
  font-size: 20px;
  align-items: center;
  padding-left: 0;
  padding-left: 16px;
}

.contact-item-mobile li {
  display: flex;
  align-items: center;
  padding-left: 0;
  padding-bottom: 8px;
}

.menu-mobile {
  padding: 0;
  margin-top: 30px;
}

.menu-mobile a {
  display: block;
  text-decoration: none;
  font-size: 28px;
  line-height: 1.31;
  letter-spacing: 0.72px;
  color: var(--dark);
  padding-bottom: 6px;
}

.menu-mobile a:hover,
.menu-mobile a:focus {
  color: var(--green);
  text-decoration: underline;
}
.button-close svg {
  color: var(--light);
}

/*----------------------------------------------------------------
          POPUP
  --------------------------------------------------------------------*/

.popup {
  position: fixed;
  bottom: 100px;
  right: 20px;
  background: white;
  color: var(--dark);
  border-radius: 10px;
  box-shadow: 2px 4px 8px var(--dark);
  padding: 20px;
  width: 280px;
  z-index: 1000;
  display: none;
}

.popup h4,
.popup p {
  text-align: left;

  margin-bottom: 10px;
}

.popup .close-btn {
  position: absolute;
  top: 5px;
  right: 8px;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  font-size: 1.4em;
  cursor: pointer;
  color: var(--dark);
}
.popup .close-btn:hover {
  color: var(--light-blue);
}
