:root {
  --dark: #000f27;
  --blue: #385f86;
  --lightest-blue: #20a0c7;
  --light-blue: #2887a5;

  --dark-blue: #164c5b;
  --light-green: #77c146;

  --green: #5fa134;

  --dark-green: #3a6120;

  --light: #f4f4f4;
  --white: #fff;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 428px;
  margin: auto;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
h1 {
  color: var(--white);
  font-weight: 600;
  font-size: 48px;
  letter-spacing: 2px;
  margin-top: 0;
  text-align: center;
}
h2 {
  color: var(--blue);
  text-shadow: 1px 1px 2px var(--dark);
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 2px;
  margin-top: 0;
  text-align: center;
  padding-bottom: 20px;
}
h3 {
  color: var(--white);
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 0;
  line-height: 35px;
}
h4 {
  color: var(--dark);
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  margin-top: 0;
}
p {
  color: var(--dark);
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  padding-top: 50px;
  text-align: center;
}

.myBtn {
  border-radius: 10px;
  border: none;
  text-decoration: none;
  padding: 10px 30px;
  color: white;
  background-color: var(--green);
  box-shadow: 0px 5px 0px 0px var(--dark-green);
}

.myBtn:hover {
  color: white;
  background-color: var(--light-green);
}

.myBtn:active {
  color: white;
  transform: translate(0px, 5px);
}

.myBtn:visited {
  color: #fafafa;
}

/*---------------------------------
          HEADER
  ----------------------------------*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--white);
}
.header-content {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

nav a {
  padding: 10px 15px;
  background-color: transparent;
  color: var(--dark);
  /* font-weight: 700; */
}

nav a:hover {
  color: var(--blue);
  text-decoration: underline;
}
/*---------------------------------
          HERO
  ----------------------------------*/
#hero {
  margin-top: 90px;
  width: 100%;
  height: 100%;
  background-color: var(--dark, #2e2f42);
  background-image: url(../images/hero.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 122px;
  padding-bottom: 85px;
  margin-left: auto;
  margin-right: auto;
}
.hero-tekst {
  margin-bottom: 48px;
}
/*---------------------------------
          BENEFITS
  ----------------------------------*/
#benefits {
  background-color: var(--light);
  padding-top: 60px;
  padding-bottom: 60px;
}
.benefits-box {
  flex-wrap: wrap;

  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding-top: 25px;
  padding-bottom: 55px;
}
.benefits-box p,
.benefits-box h4 {
  text-align: center;
  color: var(--white);
  line-height: 25px;
}
.benefits-box1 {
  width: 250px;
  height: 250px;
  background-color: var(--blue);
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 2px 4px 8px var(--dark);
  transition: transform 0.3s ease-in-out;
}
.benefits-box2 {
  width: 250px;
  height: 250px;
  background-color: var(--light-blue);
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 2px 4px 8px var(--dark);
  transition: transform 0.3s ease-in-out;
}
.benefits-box3 {
  width: 250px;
  height: 250px;
  background-color: var(--green);
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 2px 4px 8px var(--dark);
  transition: transform 0.3s ease-in-out;
}
.benefits-box1:focus,
.benefits-box1:hover,
.benefits-box2:focus,
.benefits-box2:hover,
.benefits-box3:focus,
.benefits-box3:hover {
  transform: scale(1.05);
}

/* services */
#services {
  background-color: var(--white);
  padding-top: 60px;
  padding-bottom: 60px;
}
.services-box {
  flex-wrap: wrap;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding-top: 50px;
  padding-bottom: 55px;
}
.services-box p,
.services-box h4 {
  text-align: center;
  line-height: 25px;
}

.services-box1,
.services-box2 {
  position: relative;
  width: 250px; /* Możesz dostosować szerokość */
  height: 350px;
  background-color: var(--light);
  border-radius: 10px;
  text-align: center;
  perspective: 1000px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  overflow: visible; /* Zapewnia widoczność elementów wychodzących poza box */
  z-index: 0;
}
.services-box1 {
  border: 2px solid var(--light-blue);
  box-shadow: 2px 4px 8px var(--dark);
}
.services-box2 {
  border: 2px solid var(--green);
  box-shadow: 2px 4px 8px var(--dark);
}
.services-box1:hover,
.services-box2:hover {
  transform: rotateY(-180deg);
}
.services-box1 img {
  border-radius: 10px;
  box-shadow: 2px 4px 8px var(--dark);

  border: 2px solid var(--light-blue);
}
.services-box2 img {
  border-radius: 10px;
  box-shadow: 2px 4px 8px var(--dark);

  border: 2px solid var(--green);
}
.circle1,
.circle2 {
  position: absolute;
  top: -25px; /* Pozycja powyżej górnej krawędzi */
  left: 50%;
  transform: translateX(-50%);
  width: 80px; /* Średnica kółka, połowa szerokości boksa */
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1; /* Ustawia kółko na wierzchu */
}
.circle1 {
  background-color: var(--light-blue);
}
.circle2 {
  background-color: var(--green);
}

.circle1 svg,
.circle2 svg {
  fill: var(--white);
}
.front,
.back1,
.back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.front {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 80px 20px;
  background-color: var(--light);
}

.back1 {
  padding: 20px;
  background-color: var(--light-blue);
  color: white;
  transform: rotateY(180deg);
}
.back2 {
  padding: 20px;
  background-color: var(--green);
  color: white;
  transform: rotateY(180deg);
}
.back2 .myBtn {
  border-radius: 10px;
  border: none;
  text-decoration: none;
  padding: 10px 30px;
  color: white;
  background-color: var(--light-blue);
  box-shadow: 0px 5px 0px 0px var(--dark-blue);
}

.back2 button:hover,
.back2 button:focus {
  background-color: var(--lightest-blue);
}
.back2 .myBtn:active {
  color: white;
  transform: translate(0px, 5px);
}

.back2 .myBtn:visited {
  color: #fafafa;
}

.back1 p,
.back2 p {
  color: var(--white);
  font-size: 18px;
  padding-bottom: 26px;
}
.services-btn {
  display: flex;
  justify-content: center;
}
#realizations {
  background-color: var(--light);
  padding-top: 60px;
  padding-bottom: 60px;
}
/* KONTAKT */
#contact {
  background-color: var(--blue);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  gap: 20px;
}

.contact-content ul {
  padding: 0;
}
.contact-content li {
  display: flex;
  align-items: center;
  gap: 15px;
}
.contact-content svg {
  fill: var(--white);
}
#contact h2 {
  margin-top: 20px;
}
#contact h2,
#contact p {
  color: var(--white);
  text-align: start;
  line-height: 45px;
}
.contact-content-item {
  padding: 0;
  width: 650px;
}
.contact form {
  max-width: 550px;
}
#name::placeholder,
#email::placeholder,
#phone::placeholder,
#subject::placeholder,
#message::placeholder {
  color: var(--blue);
  font-size: 14px;
}
.contact input,
.contact textarea {
  color: var(--dark);
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--light);
  border-radius: 10px;
}
.privacy {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.privacy input[type="checkbox"] {
  margin: 0;
  margin-right: 15px;
  width: auto;
  height: auto;
}

.privacy p,
.privacy a {
  font-size: 14px;

  color: var(--white);
  margin: 0;
  line-height: 1.5;
}

.privacy a {
  color: var(--light-green);
}

.privacy a:hover {
  text-decoration: underline;
}
/* FOOTER */
footer {
  background-color: var(--white);
}
.footer-content {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content-item {
  display: flex;
  align-items: center;

  gap: 15px;
}
footer svg {
  fill: var(--green);
}
footer svg :focus,
footer svg :hover {
  fill: var(--blue);
}

.footer {
  background-color: var(--green);
  text-align: center;
}
.footer p {
  color: var(--white);
  font-size: 14px;
}
