.work-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 100vh;
}

.work-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.work-box-1 .text {
  transform: translateX(-100%);
}

.work-box-1 .image-work1 {
  transform: translateX(100%);
}

.work-box-2 .text {
  transform: translateX(100%);
}

.work-box-2 .image-work2 {
  transform: translateX(-100%);
}

.work-box.visible {
  opacity: 1;
}

.work-box-1.visible .text {
  transform: translateX(0);
}

.work-box-1.visible .image-work1 {
  transform: translateX(0);
}

.work-box-2.visible .text {
  transform: translateX(0);
}

.work-box-2.visible .image-work2 {
  transform: translateX(0);
}

/* ************************************** */
#working {
  background-color: var(--dark);
}

.content {
  color: white;
  text-align: center;
  padding: 20px;
}
#working h4 {
  color: var(--white);
  font-weight: 300;
  line-height: 30px;
}
.work-box ul {
  list-style: disc;
  line-height: 30px;
  color: var(--dark);
  text-align: justify;
}
.work-box p {
  color: var(--dark);
  text-align: justify;
}
#working,
#working1,
#working2,
#working3 {
  padding-top: 45px;
  padding-bottom: 45px;
}
@media screen and (min-width: 1200px) {
  #working,
  #working1,
  #working2,
  #working3 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  #working,
  #working1,
  #working2,
  #working3 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
#working1 {
  background-color: var(--white);
}
#working2 {
  background-color: var(--light);
}
#working3 {
  background-color: var(--dark);
}
.work-box1 {
  gap: 30px;
  justify-content: center;
  place-items: center;
  display: grid;
  flex-wrap: wrap;
  transform: translateX(-100px);
  transition-delay: 0.6s;
}
@media screen and (min-width: 768px) {
  .work-box1 {
    align-items: flex-start;

    display: grid;
    grid-template-columns: 0.57fr 0.43fr;
  }
}
@media screen and (min-width: 1200px) {
  .work-box1 {
    align-items: flex-start;

    display: grid;
    grid-template-columns: 0.57fr 0.43fr;
  }
}
.work-box2 {
  gap: 30px;
  justify-content: center;
  place-items: center;
  display: grid;
  flex-wrap: wrap;
  transform: translateX(-100px);
  transition-delay: 0.6s;
}
@media screen and (min-width: 768px) {
  .work-box2 {
    align-items: flex-start;

    display: grid;
    grid-template-columns: 0.43fr 0.57fr;
  }
}
@media screen and (min-width: 1200px) {
  .work-box2 {
    align-items: flex-start;

    display: grid;
    grid-template-columns: 0.43fr 0.57fr;
  }
}
.image-work {
  transform: translateX(100px);
  transition-delay: 0.6s;
}
.work-box1,
.work-box2,
.image-work {
  opacity: 0;

  transition:
    opacity 0.95s ease-in-out,
    transform 0.95s ease-in-out;
}
.work-box1.visible,
.work-box2.visible {
  opacity: 1;
  transform: translateX(0);
}

.image-work.visible {
  opacity: 1;
  transform: translateX(0);
}
.work-box {
  max-width: 100%;

  text-align: justify;
  width: 100%;
}

#working1 img,
#working2 img,
#working3 img {
  width: 100%;

  border-radius: 10px;

  /* max-width: 480px; */
  border-radius: 10px;
}

#working2 img {
  box-shadow: -18px 18px 1px var(--dark);
}
#working1 img {
  box-shadow: 18px 18px 1px var(--dark);
}
#working3 img {
  box-shadow: -18px 18px 1px var(--light-blue);
}
#working2 button {
  margin-top: 26px;
}
#working2 h3 {
  padding-left: 14px;
  color: var(--blue);
  font-weight: 700;
}
#working1 p,
#working2 p,
#working3 p {
  text-align: justify;
}
#working3 p,
#working3 h2 {
  color: var(--white);
}
